body{
    color: black;
    font-size: large;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
}

.bg-dark{
    background-color: blue!important;
}