body{
    color: white;
    font-size: large;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
}

.bg-dark{
    background-color:orangered!important;
}



/*Login Page*/

.LogPage{
    margin-top: 140px;
    text-align: center!important;
    padding-top: 500px;
}

.register{
    text-align: center;
    padding-top: 150px;
    color: violet;
}

.help{
    padding: 10px;
    
}

.work{
    padding: 10px;
}

input{
    display: center;
    margin: 0 auto;
}

/* end login page */

