body{
    color: black;
    font-size: large;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
}

.bg-dark{
    background-color:rgb(61, 38, 61)!important;
}
















/*Login Page*/

.login{
    text-align: center;
    padding-top: 150px;
}

.register{
    text-align: center;
    padding-top: 150px;
}

.help{
    padding: 10px;
    
}

.work{
    padding: 10px;
}

input{
    display: center;
    margin: 0 auto;
}