.LogPage{
    color: red!important;
    background-color: orange!important;
}

/*Registration Pages*/
div.Register {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:20px;
    justify-content: center;
    font-size: 24px;
    
  }
  
  div.Register label{
     text-align:right;
    }
  
  div.Register button{
    width: 150px; 
    margin: auto;
  }

  div.Register input.Submit {
    width: 150px; 
    margin: auto;
  }

  div.form-input{
    width: 500px !important;
  }
/*End of Registration Pages*/


/*Review pages*/
.flex{
  display: flex;
}

.box{
  width: 300px;
  margin-left: 43%;
}

input[type="radio"]{
  display: none;
}
.star{
  cursor: pointer;
}

/*End of Review pages*/