.login{
    text-align: center;
    padding-top: 150px;
}

.register{
    text-align: center;
    padding-top: 150px;
}

.help{
    padding: 10px;
    
}

.work{
    padding: 10px;
}

input{
    display: center;
    margin: 0 auto;
}